fastapi
uvicorn
bcrypt>=4.0.1
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-multipart
python-dotenv
APScheduler==3.10.4
fastapi-mail==1.4.1
aiosmtplib
mercadopago